<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Register</title>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"
        />
    </head>
    <body>
        <section class="hero is-medium">
            <a class="title has-text-centered p-4" href="/">
                <img src="/assets/logo.svg" width="150" />
            </a>
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-centered">
                        <div
                            class="column is-5-tablet is-4-desktop is-3-widescreen card"
                        >
                            {{if not .success }}
                            <form action="/register" method="POST">
                                <input
                                    type="hidden"
                                    name="referer"
                                />
                                <h3 class="title">Register</h3>
                                <hr class="login-hr" />
                                <div class="field">
                                    <label class="label">Email</label>
                                    <div class="control">
                                        <input
                                            class="input"
                                            type="email"
                                            placeholder="john@example.de"
                                            name="email"
                                            value="{{.data.Email}}"
                                        />
                                    </div>
                                    {{if .errors.Email }}
                                    <p class="help is-danger">
                                        {{.errors.Email }}
                                    </p>
                                    {{end}}
                                </div>
                                <div class="field">
                                    <label class="label">Password</label>
                                    <div class="control">
                                        <input
                                            class="input"
                                            type="password"
                                            placeholder="**********"
                                            required
                                            name="password"
                                        />
                                    </div>
                                    {{if .errors.Password }}
                                    <p class="help is-danger">
                                        {{.errors.Password }}
                                    </p>
                                    {{end}}
                                </div>
                                <div class="field">
                                    <label class="label">Repeat Password</label>
                                    <div class="control">
                                        <input
                                            class="input"
                                            type="password"
                                            placeholder="**********"
                                            required
                                            name="repeatPassword"
                                        />
                                    </div>
                                    {{if .errors.RepeatPassword }}
                                    <p class="help is-danger">
                                        {{.errors.RepeatPassword }}
                                    </p>
                                    {{end}}
                                </div>
                                <div class="field">
                                    <label class="checkbox">
                                        <input
                                            type="checkbox"
                                            name="acceptTOS"
                                            value="true"
                                            {{if
                                            .data.AcceptTOS}}checked{{end}}
                                        />
                                        I agree to the
                                        <a href="#">terms and conditions</a>
                                    </label>
                                    {{if .errors.AcceptTOS }}
                                    <p class="help is-danger">
                                        {{.errors.AcceptTOS }}
                                    </p>
                                    {{end}}
                                </div>
                                <div>
                                    <button
                                        class="button is-primary"
                                        type="submit"
                                    >
                                        Register
                                    </button>
                                </div>
                            </form>
                            {{else}}
                            <h3 class="title">Success</h3>
                            <p>
                                Please check your emails to verify ownership of
                                the email.
                            </p>
                            {{end}}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
